@font-face {
 font-family: Cuprum;
   src: url("../fonts/cuprum/cuprum.woff2") format("woff2"),
        url("../fonts/cuprum/cuprum.woff") format("woff");
   font-weight: 400;
   font-style: normal;
}

@font-face {
 font-family: Cuprum;
   src: url("../fonts/cuprum/cuprumbold.woff2") format("woff2"),
        url("../fonts/cuprum/cuprumbold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
}

@font-face {
 font-family: Cuprum;
   src: url("../fonts/cuprum/cuprumitalic.woff2") format("woff2"),
        url("../fonts/cuprum/cuprumitalic.woff") format("woff");
   font-weight: 400;
   font-style: italic;
}

@font-face {
 font-family: Cuprum;
   src: url("../fonts/cuprum/cuprumbolditalic.woff2") format("woff2"),
        url("../fonts/cuprum/cuprumbolditalic.woff") format("woff");
   font-weight: 700;
   font-style: italic;
}

@font-face {
 font-family: 'PT Sans';
   src: url("../fonts/pt-sans/pt-sans-v11-cyrillic_latin-regular.woff2") format("woff2"),
        url("../fonts/pt-sans/pt-sans-v11-cyrillic_latin-regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
}

@font-face {
 font-family: 'PT Sans';
   src: url("../fonts/pt-sans/pt-sans-v11-cyrillic_latin-700.woff2") format("woff2"),
         url("../fonts/pt-sans/pt-sans-v11-cyrillic_latin-700.woff")
    format("woff");
   font-weight: 700;
   font-style: normal;
}

@font-face {
 font-family: 'PT Sans';
   src: url("../fonts/pt-sans/pt-sans-v11-cyrillic_latin-italic.woff2") format("woff2"),
   url("../fonts/pt-sans/pt-sans-v11-cyrillic_latin-italic.woff") format("woff");
   font-weight: 400;
   font-style: italic;
}


body {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #000;
}

a {
  text-decoration: none;
}

.page-container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}

.main-header {
  background-color: #f4f7f9;
}

.user-functions {
  font-size: 17px;
  line-height: 14px;
  color: #fff;
  background-color: #293449;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.container-box {
  width: 100%;
}

.container-box__inner {
  width: 940px;
  margin: 0px auto;
}

.user-functions .container-box__inner {
  display: flex;
  align-items: center;
  padding-left: 220px;
  position: relative;
}

.header-info .container-box__inner {
  display: flex;
}

.user-functions__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: 0;
}

.purchase {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.purchase li{
  flex-grow: 1;
}

.purchase a {
  display: flex;
  color: #fff;
  padding-top: 14px;
  padding-bottom: 14px;
}

.purchase a:hover {
  background-color: #212a3a;
}

.purchase a:active {
  color: rgba(255, 255, 255, .6);
  background-color: #161d29;
}

.purchase-link {
  position: relative;
  padding-right: 30px;
  padding-left: 46px;
}

.purchase-link:hover svg {
  opacity: 1;
}

.purchase-link:active svg {
  opacity: 0.5;
}

.purchase-link__active {
  background-color: #ee3643;
  padding-left: 41px;
}

a.purchase-link__active:hover {
  background-color: #ca2c37;
}

a.purchase-link__active:active {
  background-color: #ba2732;
}

.purchase-icon {
  fill: #fff;
  position: absolute;
  top: 12px;
  left: 16px;
  opacity: 0.3;
}

.main-header-logo {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 56px 13px 55px;
  user-select: none;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .24);
  position: absolute;
  left: 0;
  top: 0;
}

.main-header-logo:hover {
  background-color: #ca2c37;
}

.main-header-logo:active {
  background-color: #ba2732;
}


.search {
  position: relative;
}

.search input[type='search'] {
  border: none;
  background-color: #293449;
  width: 270px;
  height: 42px;
  padding-left: 49px;
}

.search input::-webkit-input-placeholder {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  text-align: left;
  color: #fff;
}

.search input::-moz-placeholder {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  text-align: left;
  color: #fff;
}

.search input:-moz-placeholder {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  text-align: left;
  color: #fff;
}

.search input:-ms-input-placeholder {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  text-align: left;
  color: #fff;
}

.search input:hover {
  background-color: #212a3a;
}

.search input:hover + .search-button svg {
  opacity: 1;
}

.search input:focus {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 17px;
  color: black;
  background-color: #fff;
}

.search input:focus + .search-button svg {
  fill: #ee3643;
  opacity: 1;
  z-index: 10;
}

.search-button {
 position: absolute;
 top: 11px;
 left: 11px;
 border: none;
 width: 17px;
 height: 17px;
 background-image:none;
 background-color:transparent;
 box-shadow: none;
 cursor: pointer;
}

.search-button svg {
  fill: #fff;
  opacity: 0.3;
}

a.full {
  user-select: none;
  background-color: #ee3643;
}

a.full:hover {
  background-color: #ca2c37;
}

a.full:active {
  color: #f1f5f7;
  background-color: #ba2732;
}

a.checkout {
  user-select: none;
  padding: 14px 22px 14px 20px;
  background-color: #63a63e;
}

a.checkout:hover {
  background-color: #5fbb2d;
}

a.checkout:active {
  color: #f1f5f7;
  background-color: #518534;
}

.header-info {
  display: flex;
}

.header-info__container {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
  margin-bottom: 15px;
}

.header-info h1 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  line-height: 23px;
  text-align: left;
  letter-spacing: normal;
  max-width: 197px;
  margin-left: 53px;
  margin-top: -9px;
  color: #ee3643;
}

.header-contacts {
 flex-shrink: 0;
  max-width: 270px;
  margin-left: 71px;
}

.header-contacts a {
  position: relative;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  padding: 8px 50px 8px 70px;
  color: #ee3643;
  border: solid 3px #fff;
}

.header-contacts a::before {
  content: '';
  background-image: url(../img/icon-phone.png);
  height: 19px;
  width: 19px;
  position: absolute;
  left: 11px;
  top: 10px;
}

.header-contacts p {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #32425c;
}

.authorization {
  display: flex;
}

.authorization-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  margin-left: 20px;
  padding: 0;
  list-style: none;
  width: 281px;
}

.authorization a {
  font-size: 21px;
  line-height: 21px;
  user-select: none;
  color: #000;
  background-color: #fff;
}

.log-in {
  padding: 11px 27px 11px 48px;
  position: relative;
}

.log-in::before {
  content: '';
  width: 20px;
  height: 17px;
  background-image: url(../img/icon-login.png);
  opacity: 0.3;
  position: absolute;
  left: 14px;
  top: 14px;
}

.log-in:hover::before {
 opacity: 1;
}

.sign-up {
  padding: 11px 25px 11px 25px;
}

.authorization a:hover {
  color: #ee3643;
}

.authorization a:active {
  color: rgba(0, 0, 0, .3);
}

/*Равшан джамшутович*/

.user-profile {
  display: flex;
  flex-direction: column;
  margin-top: -12px;
  flex-shrink: 0;
  margin-left: auto;

}

.user-profile p {
  display: flex;
  padding: 11px 67px 11px 0px;
  margin-bottom: 7px;
  flex-wrap: wrap;
  text-align: left;
  background-color: #fff;
  position: relative;
  padding-top: 12px;
  margin-top: 0;
}

.user-name a {
  font-size: 21px;
  line-height: 21px;
  padding-left: 47px;
  color: #000;
  position: relative;
}

.user-name a:active,
.menu-elements a:active {
  opacity: 0.3;
}

.user-name__log-in::before {
  content: '';
  background-image: url(../img/icon-user.svg);
  width: 20px;
  height: 18px;
  position: absolute;
  left: 13px;
}

a.user-name__log-out{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
}

.user-name__log-out::after {
  content: '';
  background-image: url(../img/icon-logout.svg);
  width: 20px;
  height: 17px;
  display: block;
  position: absolute;
  top: 13px;
  right: 10px;
}

.user-name a::before,
.user-name a::after {
  opacity: 0.3;
}

.user-name a:hover::before,
.user-name a:hover::after {
  opacity: 1;
}

.user-name a:active::before,
.user-name a:active::after {
  opacity: 0.3;
}

.menu-elements {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-elements li:first-child {
  margin-left: 17px;
  position: relative;
}

.menu-elements li:last-child {
  margin-right: 71px;
}

.menu-elements a {
  font-size: 16px;
  text-decoration: underline;
  color: #32425c;
}

.menu-elements a:not(:active):hover {
  color: #ee3643;
}

.menu-elements li:first-child::after {
  content: '';
  position: absolute;
  left: 91px;
  margin-top: 8px;
  width: 4px;
  height: 4px;
  border-radius: 50px;
  background-color: #32425c;
}

/*Навигация*/

.main-navigation {
  padding-bottom: 59px;
  margin-bottom: 59px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-top: 9px;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 0 #293449;
  padding: 0 22px;
}

.site-navigation li {
  font-family: Cuprum, Arial, sans-serif;
  list-style: none;
  padding-top: 21px;
  padding-bottom: 23px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.site-navigation a {
  font-size: 17px;
  line-height: 17px;
  text-align: left;
  color: #fff;
}

.site-navigation li:hover {
  background-color: #293449;
}

.site-navigation li:active,
.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #1d2739;
}

.main-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.main-container h1 {
  font-size: 30px;
  font-weight: 400;
  width: 100%;
  padding: 27px 0 28px 29px;
  text-transform: uppercase;
  color: #32425c;
  background-color: #f2f6f8;
}

.main-container h2 {
  font-size: 30px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
  color: #000;
}

.main-container p {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 23px;
  text-align: left;
  color: #000;
}

.contacts-info {
  display: flex;
  justify-content: space-between;
  margin-top: 52px;
}


.info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 550px;
}


.info:nth-child(3) {
  margin-bottom: 0;
}

.info__delivery {
  display: flex;
  width: 450px;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.contacts p {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}

/*Слайды категорий*/

.categories {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 67px;
}

.categories-list__first-row {
  display: flex;
  justify-content: space-between;
  padding-left:0px;
  width: 100%;
}

.categories-list__first-row li {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 300px;
  color: #FFF;
  padding: 21px 23px 20px 23px;
  margin-top: 0;
}

.cat-list__title {
  font-size: 24px;
  line-height: 30px;
  text-align: left;
  margin: 0;
  padding-right: 79px;
}

.categories__icon {
  position: absolute;
}

.bucket-icon {
  left: 213px;
  top: 31px;
}

.drill-icon {
  left: 197px;
  top: 33px;
}

.tractor-icon{
left: 191px;
top: 31px;
}

.cart-icon {
  left: 196px;
  top: 26px;
}

.van-cart {
 left: 191px;
 top: 32px;
}

.cat-button {
  text-transform: uppercase;
  font-size: 14px;
  color: #FFF;
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 3px;
  width: 135px;
  margin-top: 11px;
}

.cat-button:hover {
  background-color: rgba(0,0,0,0.2)
}

.cat-button:active {
  background-color: rgba(0,0,0,0.3)
}

.categories-list__first-row li:first-child {
  background-color: #ffbf47;
}

.categories-list__first-row .new-item::after {
  position: absolute;
  left: auto;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  content: "";
  background-size: cover;
  width: 60px;
  height: 59px;
}

.categories-list__first-row li:nth-child(2) {
  background-color: #3bbce3;

}

.categories-list__first-row li:last-child {
  background-color: #dc91d8;

}

.categories-list__first-row .new-item {
  left: 0;
  top: 0;
}

.categories-list__second-row {
  display: flex;
  justify-content: space-between;
}

/*Слайдер*/

.categories-slider {
  position: relative;
}

.slider__item {
  display: none;
  position: relative;
  flex-direction: column;
  margin-top: 21px;
  width: 620px;
  height: 266px;
  background-image: url(../img/slide-image.jpg);
  background-color: #684b3e;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
}

.slider__item--active {
  display: flex;
}

.second-slider {
  background-image: url(../img/slide-image2.png);
  background-color: #927f6e;
}

.slider__item h3 {
  text-transform: uppercase;
  font-size: 36px;
  text-align: left;
  margin-top: 20px;
  margin-left: 24px;
  margin-bottom: 0;
}


.slider__item p {
  font-family: Cuprum, Arial, sans-serif;
  color: #fff;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  padding-left: 25px;
}

.slider-button {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  background-color: #ee3643;
  border-radius: 3px;
  padding: 12px 46px 10px 50px;
  position: absolute;
  left: 25px;
  bottom: 22px;
}

.slider-button:hover {
  background-color: #ca2c37;
}

.slider-button:active {
  background-color: #ba2732;
}

.slider__navigation {
  position: absolute;
  top: 134px;
}

.slider__navigation button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
}

button.slider__navigation-prev {
  position: absolute;
  left: 18px;
}

button.slider__navigation-next {
  position: absolute;
  left: 572px;
}

.slider__pagination {
  position: absolute;
  top: 236px;
  left: 292px;
}

.slider__pagination-item {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  padding: 0;
  margin: 3px;
  cursor: pointer;
}

.slider__pagination-item--active::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #ee3643;
}

.categories-list__right-column {
  display: flex;
  flex-direction: column;
  padding-left: 0px;
  margin-top: 0;
  margin-left: 20px;
}

.categories-list__right-column li {
  display: flex;
  flex-direction: column;
  width: 300px;
  color: #FFF;
  padding: 22px 23px 20px 23px;
  margin-top: 0;
  position: relative;
}

.categories-list__right-column li:first-child {
  background-color: #8ed78f;
  margin-bottom: 20px;
  margin-top: 20px;
}

.categories-list__right-column li:last-child {
  background-color: #ffc047;
}


/*Популярные товары*/
.catalog-goods {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: -30px;
}

.catalog-goods__heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #f9f5f0;
}

.catalog-goods__heading h2 {
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
  padding-left: 28px;
  margin-top: 28px;
  max-width: 650px;
}

.catalog-goods__heading a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  line-height: 18px;
  background-color: #ee3643;
  border-radius: 3px;
  padding: 11px 55px 5px 55px;
  margin-top: 25px;
  margin-right: 24px;
  height: 38px;
  margin-bottom: 25px;
}

.catalog-goods__heading a:hover {
  background-color: #ca2c37;
}

.catalog-goods__heading a:active {
  background-color: #ba2732;
}

.catalog-goods__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 40px;
  margin-bottom: 21px;
}

.main-goods__items {
  margin-top: 21px;
}

.catalog-version__items {
  margin-left: 5px;
}

p.no-discount__button {
  margin-top: 40px;
}

.catalog-goods__items .cross-out {
  color: #a9a9a9;
  margin-top: 10px;
}

.new-item {
  position: relative;
}

.new-item::after {
  position: absolute;
  left: 159px;
  top:0;
  background-image: url(../img/new-flag.png);
  background-repeat: no-repeat;
  content: "";
  background-size: cover;
  width: 60px;
  height: 59px;
}

/*Поупулярные производители*/
.popular-producers .popular-goods__heading {
  margin-top: 0;
  padding-bottom: 2px;
}

a.popular-producers__button {
  padding: 10px 69px 7px 70px;
}

.producers-list__container {
  display: flex;
  margin-bottom: 50px;
  margin-top: 2px;
}

.producers-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.producers-list li {
  width: 220px;
  height: 145px;
  display: flex;
  border: solid 1px #eaeaea;
  margin: 2px 0 18px;
  align-items: center;
  justify-content: center;
}

.producers-list li:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.producers-list li:active {
  opacity: 0.3;
}

/*Сервисы*/

.services {
  background-color: #f4f7f9;
  padding-bottom: 58px;
}

.services__general-info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 28px;
  margin-top: 25px;
}

.services__general-info h2 {
  margin-top: 37px;
}

.services__general-info p {
  display: flex;
  max-width: 440px;
  flex-wrap: wrap;
}

.services__slider {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  padding-bottom: 23px;
}

.services__toggle {
  display: flex;
  position: relative;
}

.services__toggle-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0;
}

.services__toggle::after {
  content: "";
  position: absolute;
  background-image: url(../img/shadow.png);
  background-position: right top;
  background-repeat: no-repeat;
  width: 10px;
  height: 279px;
  left: 230px;
  top: -27px;
}

.services__toggle_button {
  width: 240px;
  height: 62px;
  background-color: #32425c;
  cursor: pointer;
  border-bottom-color: #293449;
  border-top-color: #405069;
  border-width: 1px;
  border-style: solid;
  color: #fff;
  font-weight: 700;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 21px;
  line-height: 30px;
  text-align: left;
  padding-left: 23px;
}

.services__toggle_button:hover {
  background-color: #293449;
}

.active__services-toggle {
  background-color: #fff;
  color: #32425c;
  border-style: none;
}

.active__services-toggle:hover {
  background-color: #fff;
}

.services__card {
  display: none;
  flex-direction: column;
  background-image: url(../img/delivery@3x.png);
  background-repeat: no-repeat;
  background-size: 468px 261px;
  background-position-y: 29px;
  background-position-x: right;
  margin-top: 13px;
}

.services__card--text {
  padding-right: 320px;
}

.services__card h3 {
  font-family: Cuprum, Arial, sans-serif;
  font-weight: 400;
  font-size: 36px;
  text-align: left;
  color: #32425c;
  text-transform: uppercase;
  margin: 0 0 23px;
}

.services__card p {
  display: flex;
  flex-wrap: wrap;
  width: 300px;
}

/*Карточка гарантии*/
.guarantee-card {
  display: none;
  padding-left: 80px;
  background-image: url(../img/guarantee@3x.png);
  background-size: 389px 283px;
  background-position-y: 7px;
  background-position-x: 320px;
}

.guarantee-card p {
  width: 380px;
}

/*Кредит*/
.credit-card {
  display: none;
  background-image: url(../img/credit@3x.png);
  background-size: 465px 285px;
  background-position-y: 5px;
  background-position-x: 165px;
}

.credit-card p {
 margin-bottom: 26px;
}

.credit-card button {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  background-color: #ff5357;
  text-transform: uppercase;
  padding: 11px 46px 9px 44px;
  border: none;
  border-radius: 3px;
}

.services-card--active {
  display: flex;
}

.companies {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  margin: 0;
  list-style: none;
  text-align: left;
  padding-inline-start: 0;
  color: #000;
}

.companies li {
  padding-bottom: 19px;
}

.companies li::before
{
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 2px;
  margin-right: 11px;
  content: '';
  background-color: #ee3643;
}

.info a {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: 220px;
  height: 38px;
  margin-top: 17px;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background-color: #ee3643;
}


.info a:hover {
  background-color: #ca2c37;
}

.info a:active {
  background-color: #ba2732;
}

.map {
  margin-top: 7px;
}

.map a {
  margin-top: 60px;
}

.map-link img {
  margin-top: 45px;
}

.contacts a {
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 38px;
  margin-top: 37px;
  margin-bottom: 86px;
  user-select: none;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  border-radius: 3px;
  background-color: #ee3643;
}

.contacts a:hover {
  background-color: #ca2c37;
}

.contacts a:active {
  background-color: #ba2732;
}


/*Каталог*/
.catalog-navigation {
  margin-bottom: 0;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 20px 0;
}

.breadcrumbs-current,
.breadcrumbs a {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  padding-right: 15px;
  margin-left: 26px;
  color: #000;
  position: relative;
}

a.breadcrumbs__home {
  margin-left: 0;
}

.breadcrumbs a::after {
  content: '';
  position: absolute;
  background-image: url(../img/icon-right-small.svg);
  width: 8px;
  height: 12px;
  margin-top: 3px;
  margin-left: 14px;
}

.breadcrumbs-current {
  line-height: 18px;
  padding-top: 1.5px;
}

/*Сортировка*/
.filters__and__sorting {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.filters-title__container {
  display: flex;
  background-color: #f7f3ec;
}

p.filters-title {
  display: flex;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  padding: 10px 149px 10px 18px;
  margin-bottom: 0;
}

.sorting {
  display: flex;
  justify-content: space-between;
  background-color: #f7f3ec;
  width: 74.5%;
}

p.sorting-title {
  display: flex;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  padding: 10px 130px 10px 18px;
  margin-bottom: 0;
}

.sorting-types-and-buttons__wrapper {
  display: flex;
  justify-content: space-between;
  width: 460px;
}

.sorting-types__wrapper {
  display: flex;
}

.sorting-types {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding-left: 0;
  width: 355px;
  color: #000;
  margin: 0;
}

.sorting-types a {
  display: flex;
  font-family: 'PT Sans', Arial, sans-serif;
  color: rgba(0, 0, 0, 0.18);
  padding: 0;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 9px;
  margin-bottom: 0;
  border-bottom: 1px dotted #ee3643;
  cursor: pointer;
}

.sorting-types a:hover {
  color: #000;
  border-bottom: 1px #ee3643 solid;
}

.sorting-types a:active {
  color: #ee3643;
  border-bottom: none;
}

a.sorting-types__active-button {
  color: #ee3643;
  border-bottom: none;
}

/* .sorting-types li:first-child {
  margin-right: 73px;
}

.sorting-types li:nth-child(2) {
  margin-right: 70px;
}

.sorting-types li:last-child {
  margin-right: 55px;
} */

.sorting-buttons {
  display: flex;
  align-items: center;
  margin-right: 2px;
}

.sorting-buttons a {
  display: flex;
  box-shadow: none;
  opacity: 0.18;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.sorting-buttons a:active {
  opacity: 1;
  fill: #ee3643;
}

.sorting-buttons a:hover {
  opacity: 1;
  fill: #000;
}

.sorting-buttons a:last-child {
 margin-right: 14px;
 margin-left: 22px;
}

a.sorting-button__active {
  fill: #ee3643;
  opacity: 1;
}

/*Фильтры*/
.filters {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  color: #000;
}

/*Фильтр цены*/
.price-filter {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 21px;
  padding-bottom: 26px;
  border-bottom: 1px solid #e5e5e5;
}

/* .price-filter::after {
  content: '';
  border: solid 0.5px #e5e5e5;
  width: 220px;
  position: absolute;
  top: 196px;
} */

.price-filter__title {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 30px;
  margin: 0 0 14px 0;
}

.range-buttons__wrapper {
  display: flex;
  position: relative;
  background-color: #f7f3ec;
  width: 220px;
  min-height: 80px;
  align-items: center;
  padding: 20px;
}

.range-scale {
  display: flex;
  width: 100%;
  height: 2px;
  background-color: #d7dcde;
  z-index: 1;
  margin-left: 0;
  position: relative;
}

.range-scale:after {
  content: "";
  width: 160px;
  height: 2px;
  background-color: #63a63e;
  position: absolute;
  left: 0;
  top: 0;
}

.range-buttons__wrapper button {
  z-index: 2;
  border: none;
  width: 20px;
  height: 22px;
  background-image: url(../img/filter-button.svg);
  background-color: transparent;
  box-shadow: none;
  cursor: pointer;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -10px;
}

button.range-end {
  left: 160px;
}

.number-range {
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}

.number-range input {
  width: 95px;
  height: 38px;
  background-color: #f7f3ec;
  border: none;
  text-align: center;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  line-height: 18px;
  padding-left: 20px;
  -moz-appearance: textfield;
}

.number-range span {
  display: flex;
  margin-top: 18px;
  width: 10px;
  height: 1px;
  background-color: #000;
}

/*Чекбоксы*/
fieldset {
  margin-left: 0;
}

.filters legend {
  font-size: 17px;
  font-weight: 700;
  letter-spacing: .2px;
}

.filters fieldset {
  border: none;
  padding: 0;
}

fieldset.checkboxes {
  border-bottom: 1px solid #e5e5e5;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 24px;
}

/* .checkboxes::after {
  content: '';
  border: solid 0.5px #e5e5e5;
  width: 220px;
  position: absolute;
  top: 240px;
} */

.checkboxes-list {
  padding: 0;
  margin-top: 20px;
}

.checkboxes-list li {
  list-style: none;
  margin-bottom: 23px;
}

.checkboxes-list li:last-child {
  margin-bottom: 24px;
}

.checkbox-label {
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  max-width: 180px;
}

.checkbox-input {
  display: none;
}

.checkbox-input + label {
  position: relative;
  padding-left: 35px;
}

.checkbox-input + label::before {
  content: "";
  width: 23px;
  height: 23px;
  display: block;
  background: url(../img/checkbox-off.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0.7;
  left: 0;
  top: -2.75px;
}

.checkbox-input:checked + label:before {
  content: "";
  width: 27px;
  background: url(../img/checkbox-on.svg) center center no-repeat;
}

.checkbox-input:hover + label::before {
  opacity: 1;
}

.checkbox-input:disabled + label::before {
  opacity: 0.3;
}

/*Радиобатоны*/
.radiobuttons {
  display: flex;
  flex-direction: column;
}

.radiobuttons legend {
  margin-bottom: 19px;
}

.radiobuttons-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.radiobuttons-list li {
  margin-bottom: 24px;
}

.radiobuttons-label {
  cursor: pointer;
}

.radiobuttons-input {
  display: none;
}

.radiobuttons-input + label {
  position: relative;
  padding-left: 35px;
}

.radiobuttons-input + label::before {
  content: "";
  width: 25px;
  height: 25px;
  display: block;
  background: url(../img/radio-off.svg) center center no-repeat;
  background-size: contain;
  position: absolute;
  opacity: 0.7;
  left: 0;
  top: -2.75px;
}

.radiobuttons-input:checked + label:before {
  content: "";
  width: 25px;
  background: url(../img/radio-on.svg) center center no-repeat;
}

.radiobuttons-input:hover + label::before {
  opacity: 1;
}

.radiobuttons-input:disabled + label::before {
  opacity: 0.3;
}


/*Кнопка отправики*/
.show-button {
  display: flex;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  padding: 10px 33px 9px 39px;
  margin-top: 56px;
  max-width: 140px;
}

.show-button:hover {
  border-color: #bdc6ca;
}

.show-button:active {
  border-color: #ee3643;

}

.show-button:active,
.show-button:focus {
  outline: 0;
  outline-offset: 0;
}

/*Карточки каталога*/

.item-hover {
  display: none;
}

.filter__and__catalog {
  display: flex;
  flex-wrap: wrap;
}

.filters__wrapper {
  display: flex;
  width: 25%;
  flex-wrap: wrap;
}

.catalog-goods__wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

.catalog {
  display: flex;
}

.catalog-list {
  padding: 0;
}

.catalog-item {
  display: flex;
  flex-direction: column;
  border: 1px solid #e5e5e5;
  position: relative;

}

.catalog-version__items .catalog-item {
  margin-bottom: 20px;
}

.catalog-version__items {
  margin-bottom: 16px;
}

.catalog-item:hover .catalog-item__hover-button {
  display: block;
}

.catalog-item__hover-button {
  position: absolute;
  width: 218px;
  height: 164px;
  background-color: #fff;
  display: none;
  top: 0;
  left: 0;
}

.hover-button__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 44px;

}

.hover-button__wrapper a {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 135px;
  height: 38px;
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 3px;
  cursor: pointer;
  margin-bottom: 7px;
}

.to-buy {
  background-color: #63a63e;
  box-shadow: inset 0px -3px 0 0 #367315;
  border-style: none;
  color: #fff;
  padding-top: 11px;

  position: relative;
}

.to-buy:hover {
  background-color: #5fbb2d;
}

.to-buy:active {
  background-color: #518534;
  box-shadow: none;
}

.to-buy::before {
  content: '';
  background-image: url(../img/cart-icon.png);
  opacity: 0.3;
  width: 15px;
  height: 15px;
  position: absolute;
  left: 12px;
  top: 11px;
}

.to-buy:hover::before,
.to-buy:active::before {
  opacity: 1;
}

.to-bookmarks {
  background-color: #fff;
  border: 3px solid #63a63e;
  color: #32425c;
  padding-top: 10px;
}

.to-bookmarks:hover {
  border-color: #32425c;
}

.to-bookmarks:active {
  opacity: 0.3;
  border-color: #32425c;
}

.catalog-item:hover {
  box-shadow: 0px 10px 25px 0 rgba(41, 52, 73, 0.5);
}

.item-name {
  margin: 0 auto;
  margin-top: 5px;
}

.item-name a {
  display: flex;
  width: 190px;
  justify-content: center;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  margin: 0 auto;
  text-align: center;
  color: #000;
}

.catalog-item span {
  display: flex;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 10px;
  font-family: 'PT Sans' , Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  color: #999;
}

.catalog-item .button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #fff;
  background-image: url("../img/item-button.svg");
  background-position: center;
  background-repeat: no-repeat;
  height: 38px;
  margin-bottom: 19px;
}

/*Кнопки переключения страниц*/
.catalog__pages-buttons {
  display: flex;
  align-items: center;
  margin-bottom: 42px;
}

.pages-buttons__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
}

.pages-buttons__list a {
  display: flex;
  color: #000000;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 5px 0 5px;
}

.pages-buttons__list a:hover,
.pages-buttons__next:hover {
  border-color: #bdc6ca;
}

.pages-buttons__list a:active,
.pages-buttons__list a:focus,
.pages-buttons__next:active,
.pages-buttons__next:focus {
  border-color: #ee3643;
  outline: 0;
  outline-offset: 0
}

a.pages-buttons__active {
  color: #ffffff;
  background-color: #ee3643;
  border-color: #ee3643;
}

.pages-buttons__next {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: solid 1px #e5e5e5;
  border-radius: 3px;
  color: #000000;
  padding: 9px 32px 13px 25px;
  cursor: pointer;
  width: 140px;
  height: 38px;
  margin-left: 5px;
}

/*Пара слов о перфораторах*/
.some-words {
  background-color: #f4f7f9;
}

.some-words__title {
  padding-top: 38px;
}

p.some-words__text {
  margin-bottom: 68px;
}

/*Футер*/
.main-footer {
  background-color: #32425c;
  display: flex;
  flex-direction: column;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;

}

.footer-logo_and_contacts {
  display: flex;
  flex-direction: column;
  width: 35%;
}

.footer-navigation__wrapper {
	width: 65%;
}

.footer-contacts-wrapper {
  display: flex;
  flex-direction: column;
}

.footer-nav_and_logo {
  display: flex;
  align-items: flex-start
}

.main-footer-logo {
  display: inline-block;
  vertical-align: middle;
  padding: 20px 41px 22px 41px;
  user-select: none;
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .24);
}

.main-footer-logo:hover {
  background-color: #ca2c37;
}

.main-footer-logo:active {
  background-color: #ba2732;
}

.footer-site-navigation {
  display: flex;
  padding-left: 24px;
  flex-wrap: wrap;
  padding-top: 20px;
}

.footer-navigation li {
  display: flex;
  list-style: none;
}

.footer-site-navigation a {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
}

.footer-social {
  display: flex;
  flex-wrap: wrap;
  padding-left: 43px;
  padding-top: 2px;
}

.general-list {
  display: flex;
  justify-content: space-between;
  width: 588px;
}

.general-list a {
  color: #f1f5f7;
}

.additional-list {
  display: flex;
  justify-content: space-between;
  width: 588px;
  padding-left: 63px;
}

.additional-list a {
  color: #ffd180;
}

.footer-site-navigation a:hover {
  text-decoration-line: underline;
}
.footer-site-navigation a:active {
  opacity: 0.5;
}

.footer-contacts {
  color: #f3f7f9;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding-top: 9px;
  padding-left: 5px;
  line-height: 24px;
}

.footer-contacts a {
  color: #fff;
}

.additional-info {
  display: flex;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  color: #fff;
  background-color: #293449;
  padding-top: 15px;
}

.organised-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.copyright {
  display: flex;
  flex-wrap: wrap;
  max-width: 231px;
}

.social-media {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

.social-media a {
  color: #fff;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: space-around;
  position: relative;
  width: 42px;
  height: 42px;
  margin: 1.5px;
  background-color: #212a3a;
  border-radius: 50px;
}

.social-media a:hover,
.social-media a:active {
  background-color: #ee3643;
}

.dev-contacts {
  display: flex;
  justify-content: space-between;
  width: 300px;
  padding-right: 15px;
}

.dev-contacts p {
  margin: 0;
}

.dev-contacts a {
  color: #ffd180;
}

.dev-contacts a:hover {
  text-decoration-line: underline;
}

.dev-contacts a:active {
  text-decoration: none;
  color: #ee3643;
}

.feedback,
.developed {
  display: flex;
  flex-direction: column;
}


/*Анимация модального окна*/

@-webkit-keyframes bounce {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: .75;
  }

  100% {
    opacity: 1;
  }
}


@keyframes bounce {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 0.25;
  }

  50% {
    opacity: .5;
  }

  75% {
    opacity: .75;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal-error {
  animation: shake 0.6s;
}

/*модальное окно главной страницы*/
.letter-form__hidden {
  display:none;
}

.letter {
  display: flex;
  flex-direction:column;
  width: 620px;
  height: 430px;
  border-top: 7px solid #ff5156;
  box-shadow: 0 20px 40px 0 rgba(0, 0, 0, .75);
  position: fixed;
  top: 120px;
  left: 50%;
  margin-left: -310px;
  background-color: #ffffff;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  line-height: 18px;
  text-align: left;
  color: #000;
}

.form-container-box {
  display: flex;
  flex-direction: column;
  width: 460px;
  margin: 0 auto;
  margin-top: 47px;
}

.name-and-mail {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.name-and-mail input {
  width: 220px;
  height: 38px;
  border: solid 2px #dee3e4;
}

.name-and-mail label {
  margin-bottom: 10px;
}

.small-form-wrapper {
  display: flex;
  flex-direction: column;
}

.letter-field-label {
  line-height: 18px;
  font-size: 18px;
  margin-bottom: 10px;
}

.letter-field-textarea {
  height: 114px;
}

.letter input,
textarea {
  border: solid 2px #dee3e4;
  background-color: #fff;
}

.letter input[type='text'],
textarea {
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-align: left;
  color: #999;
  padding-left: 14px;
}

.letter input:hover,
textarea:hover {
  border-color: #b5b5b5;
}

.letter input:focus,
textarea:focus {
  border-color: #ee3643;
}

/*модальное окно главной страницы*/
.letter input[type='text']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  font-family: 'PT Sans'-Regular, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  padding-top: 5px;
}

.letter input[type='text']::-moz-placeholder,
textarea::-moz-placeholder {
  font-family: 'PT Sans'-Regular, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  padding-top: 5px;
}

.letter input[type='text']::-moz-placeholder,
textarea::-moz-placeholder {
  font-family: 'PT Sans'-Regular, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  padding-top: 5px;
}

.letter input[type='text']::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  font-family: 'PT Sans'-Regular, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #999999;
  padding-top: 5px;
}

/*Кнопка отправить*/

.submit-button__wrapper {
  display: flex;
  background-color: #f4f4f4;
  min-height: 112px;
  width: 100%;
  margin-top: 37px;
}

.submit-button__wrapper input[type=submit] {
  margin: 37px 80px;
  cursor: pointer;
  font-family: Cuprum, Arial, sans-serif;
  font-size: 18px;
  width: 460px;
  height: 38px;
  text-align: center;
  color: #fff;
  border: 0;
  border-radius: 3px;
  background-color: #ee3643;
}

.submit-button__wrapper input[type=submit]:hover {
  background-color: #ca2c37;
}

.submit-button__wrapper input[type=submit]:active {
  background-color: #ba2732;
}

.close-button {
  font: inherit;
  color: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  z-index: 3;
  width: 21px;
  height: 21px;
  right: 15px;
  top: 9px;
}

/*Модальное окно каталога - Товар добавлен в корзину*/
.added-to-basket__hidden {
  display: none;
}

.added-to-basket {
  display: flex;
  flex-direction: column;
  width: 620px;
  height: 282px;
  box-shadow: 0px 20px 40px 0 rgba(41, 52, 73, 0.75);
  border-top: 7px solid #ff5156;
  background-color: #ffffff;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.added-to-basket p {
  font-family: Cuprum, Arial, sans-serif;
  font-size: 30px;
  line-height: 30px;
  color: #000;
  padding: 35px 125px 21px 179px;
}

.added-to-basket p::before {
  content: '';
  display: block;
  background-image: url(../img/modal-check.svg);
  width: 66px;
  height: 66px;
  position: absolute;
  top: 48px;
  left: 81px;
}

.further-actions__wrapper {
  display: flex;
  align-items: center;
  background-color: #f1f1f1;
  min-height: 112px;
  width: 100%;
  margin-top: 17px;
}

.further-actions {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-left: 80px;
  padding: 0;
}

.further-actions a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 38px;
  font-family: Cuprum, Arial, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;
  background-color: #fff;
  border-radius: 3px;
  margin-right: 20px;
}

a.further-actions__active-button {
  background-color: #ee3643;
  color: #ffffff;
}

/*Карта*/

.modal-map {
  display: none;
  flex-direction:column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map div {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

/*Служебные классы*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.modal-show {
  display: block;
  animation: bounce 0.3s;
}
